/* BookList.css */

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px 250px;
    background-color: var(--color-secondary);
    
}

.book-card {
    cursor: pointer;
}

.book-cover {
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}

.book-name {
    margin: 0;
    font-size: 12px;
    font-family: var(--font-family-regular);
    color: var(--color-grey-dark);
    width: 114px;
    text-align: left;
}

.book-author {
    margin: 0;
    font-size: 12px;
    font-family: var(--font-family-regular);
    color: var(--color-grey-medium);
    width: 114px;
    text-align: left;

}