:root {
    /* Colors */
    --color-primary: #5E56E7;
    --color-secondary: #F8F7FF;
    
    /* Greys */
    --color-grey-light: #F0F0F6;
    --color-grey-medium: #A0A0A0;
    --color-grey-dark: #333333;
  
    /* Typography */
    --font-family-regular: 'Montserrat-Regular';
    --font-family-semibold: 'Montserrat-SemiBold';
  
  
  }

  h1 {
    color: var(--color-primary);
    font-family: var(--font-family-semibold);
    font-size: 48px;
  }
  
  h2 {
    color: var(--color-primary);
    font-family: var(--font-family-semibold);
    font-size: 30px;
  }
  
  /* Body text */
  body{
    font-family: var(--font-family-regular);
    font-size: 16px;
  }
  
  
  
  @font-face {
    font-family: 'Montserrat-Regular';
    src: url('/src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('/src/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  }